body {
    width: 100vw;
    background-color: rgb(238, 229, 229);
    margin: 0px;
}

h1 {
    font-family: Montserrat;
    font-size: 42px;
    margin: 0px;
    font-weight: 300;
}

.nav-bar {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav {
    width: 100%;
}

.ul-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.ul-list a {
    text-decoration: none;
}

.ul-list a:hover {

}

.ul-list a:visited {
    
}

#about-me-container {
    display: flex;
    padding: 2rem;
}

#about-me {
    width: 50%;
}

#img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}


#paul-img {
    width: 300px;
    height: 300px;
    /* filter: grayscale(100%); */
    border-radius: 25%;
}

img {
    
}