body {
    width: 100vw;
    background-color: #f1ece1;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Montserrat;
    font-size: 42px;
    margin: 0px;
    font-weight: 400;
}

h2 {
    font-family: Montserrat;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

footer {
    width: 100vw;
    background-color: #B6CB9E;
    margin-top: auto;
}

.footer-p {
    text-align: center;
}

.nav-bar {
    background-color: #B6CB9E;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.nav {
    width: 100%;
}

.ul-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.ul-list a {
    text-decoration: none;
    color: rgb(41, 40, 40);
}


.ul-list a:visited {
    color: rgb(41, 40, 40);
}

#about-me-container {
    display: flex;
    padding: 2rem;
    background-color: #f1ece1;
    gap: 100px;
    
}

#about-me {
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
    
#about-me p {
    line-height: 2rem;
}

#paul-img {
    padding: 0px 20px;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    border-radius: 25%;
    }

#projects-container {
    background-color: #B6CB9E;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    }

#projects-container h2 {
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.mouseover:hover {
    cursor: pointer;
}

#project-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    color: #f1ece1;
    text-shadow: 1px 1px rgb(29, 32, 30);
    font-size: 1.5rem;
    padding: 0;
}

#project-info-container {
    display: flex;
    flex-direction: row;
    }

#project-one-info {
    background-color: rgb(201, 223, 169);
    display: none;
    align-items: center;
    }

#project-one-info p {
    margin: 0;
   
}

#project-two-info {
    background-color: orange;
    display: none;
    align-items: center;
    
}

#project-two-info p {
    margin: 0;
    
}

#project-three-info {
    background-color: red;
    display: none;
    align-items: center;
    
}

#project-three-info p {
    margin: 0;
    
}

#skills-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    height: auto;
}

#skill-icons {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    justify-content: space-evenly;

}

/* Contact Page */

#contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: montserrat;
    text-align: center;
}

#contact-list {
    flex-direction: column;
    padding-bottom: 2rem;
}

#contact-container h2 {
    font-weight: 500;
}

#contact-container h4 {
    font-weight: 500;
}

#contact-container a:visited {
    color: black;
}

@media only screen and (max-width: 600px) {

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-me {
        width: 100%;
    }

    #about-me-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100vh;
        gap: 2rem;
    }

    #project-info-container {
        flex-direction: column;
    }

    #skills-container {
        align-items: center;
        padding: 2rem;
        gap: 1rem;
    }

    #skill-icons {
        display: flex;
        gap: 2rem;
    }
}