body {
    width: 100vw;
    background-color: rgb(238, 229, 229);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Montserrat;
    font-size: 42px;
    margin: 0px;
    font-weight: 400;
}

h2 {
    font-family: Montserrat;
    font-weight: 400;
}

footer {
    width: 100vw;
    background-color: darkgray;
    margin-top: auto;
}

.footer-p {
    text-align: center;
}

.nav-bar {
    background-color: #C6C7C4;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.nav {
    width: 100%;
}

.ul-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.ul-list a {
    text-decoration: none;
}

.ul-list a:hover {
    
}

.ul-list a:visited {
    color: rgb(41, 40, 40);
}

#about-me-container {
    display: flex;
    padding: 2rem;
    background-color: #EEF0F2;
    gap: 100px;
    
}

#about-me {
    width: 600px;
    
}
#about-me p {
    line-height: 2rem;

}

#img-container {
    
   
       
}


#paul-img {
    padding: 0px 20px;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    border-radius: 25%;
    }

img {
    
}

#projects-container {
    background-color: rgb(189, 189, 185);
    
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    
    
}

#projects-container h2 {
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
}

#project-list:hover {
    cursor: pointer;
}

#project-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 2rem 6rem;
    margin: 0;
    color: rgb(210, 210, 210);
    text-shadow: 1px 1px rgb(29, 32, 30);
    font-size: 1.5rem;
}

#project-info-container {
    display: flex;
    flex-direction: row;
    
}

#project-one-info {
    background-color: rgb(201, 223, 169);
    display: none;
    align-items: center;
    
}

#project-one-info p {
    margin: 0;
    padding: 0 2rem;
}

#project-one-info:hover {
    cursor: pointer;
}

#project-two-info {
    background-color: orange;
    display: none;
    align-items: center;
    
}

#project-two-info p {
    margin: 0;
    padding: 0 2rem;
}

#project-two-info:hover {
    cursor: pointer;
}

#project-three-info {
    background-color: red;
    display: none;
    align-items: center;
    
}

#project-three-info p {
    margin: 0;
    padding: 0 2rem;
}

#project-three-info:hover {
    cursor: pointer;
}

#skills-container {

display: flex;


}

#skills-container h2 {

}



